binary "https://raw.githubusercontent.com/verifoneone/verifone-ecom-ios-sdk/main/Frameworks/Cardinal/CardinalMobile.json" == 2.2.5-2
binary "https://raw.githubusercontent.com/verifoneone/verifone-ecom-ios-sdk/main/Frameworks/Gopenpgp/Gopenpgp.json" == 1.0
